.country-flag {
    display: inline-block;
    width: 32px;
}
.title{
    margin-left: 10%;
    margin-right: 10%;
}
.english-ahu-logo{
    width: 44px;
    margin-top: -3px;
    right: 43px;
    position: absolute;
}
.arabic-ahu-logo{
    width: 44px;
    margin-top: -3px;
    left: 42px;
    position: absolute;
}
.english-uoj-logo{
    width: 39px;
    margin-top: -3px;
    right: 43px;
    position: absolute;
}
.arabic-uoj-logo{
    width: 39px;
    margin-top: -3px;
    left: 42px;
    position: absolute;
}
.english-hu-logo{
    width: 44px;
    margin-top: -3px;
    right: 43px;
    position: absolute;
}
.arabic-hu-logo{
    width: 44px;
    margin-top: -3px;
    left: 80px;
    position: absolute;
}