<ion-header no-border>
  <ion-toolbar style="height: 65px;">
    <ion-buttons slot="start" >
      <ion-menu-button [dir]="isRtl()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="animated title fadeIn">
     <span *ngIf="isRtl()" [style.fontSize]="uniId!=0?'15px':'21px'">
      {{title| translate}} <img *ngIf="url"  [class]="'arabic-'+imageClass+'-logo'" [src]="uniLogo"/>
     </span> 
     <span *ngIf="!isRtl()" style="font-size: 15px;">
      {{title| translate}} <img *ngIf="url" [class]="'english-'+imageClass+'-logo'" [src]="uniLogo"/>
     </span> 
    </ion-title>
    <span [class]="isRtl()?'left-class':'right-class'" (click)="openSelect()">
      <img class="country-flag" [src]="isRtl()?'assets/images/jordan.jpg':'assets/images/usa.png'" />
    </span>
  </ion-toolbar>
</ion-header>
<ion-select okText="{{'Okay'| translate}}" cancelText="{{'dismiss'| translate}}" #mySelect
  (ionChange)="changeLang(mySelect.value)" hidden>
  <ion-select-option value="ar">
    <img class="country-flag" src="assets/images/jordan.jpg" /> العربية
  </ion-select-option>
  <ion-select-option value="en">English</ion-select-option>
</ion-select>