<ion-app [dir]="isRtl()">
  <ion-split-pane>
    <ion-menu *ngIf="isArabic()" type="overlay" dir="rtl" side="end">
      <ion-header no-border>
        <ion-toolbar>
          <ion-title class="animated fadeIn">{{'menu'| translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <!--  <ion-menu-toggle  auto-hide="false">             
            <ion-item [routerDirection]="'root'" routerLink="/ahu-cumulator" class="animated fadeIn">
              <ion-icon slot="start" name="calculator"></ion-icon>
              <ion-label>
                {{'avgCalculator'| translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/avg-comulator']" class="animated fadeIn">
              <ion-icon slot="start" name="school"></ion-icon>
              <ion-label>
                {{'chooseYourUniversity'| translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-menu *ngIf="!isArabic()" type="overlay" dir="ltr" side="start">
      <ion-header no-border>
        <ion-toolbar>
          <ion-title class="animated fadeIn">{{'menu'| translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <!--  <ion-menu-toggle  auto-hide="false">             
            <ion-item [routerDirection]="'root'" routerLink="/ahu-cumulator" class="animated fadeIn">
              <ion-icon slot="start" name="calculator"></ion-icon>
              <ion-label>
                {{'avgCalculator'| translate}}
              </ion-label>
            </ion-item> 
          </ion-menu-toggle> -->
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/avg-comulator']" class="animated fadeIn">
              <ion-icon slot="start" name="school"></ion-icon>
              <ion-label>
                {{'chooseYourUniversity'| translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>