.country-flag {
    display: inline-block;
    width: 32px;
}

.welcome-card ion-img {
    overflow: hidden;
}
/* .welcome-card:hover{
    transform: translate(0, -10px);
} */
.newDelay {
    animation-delay: 1.5s;
}
/* .ripple-parent {
    position: relative;
    overflow: hidden;
  } */