<app-header [title]="'avgCumulator'" [uniId]="0"></app-header>
<ion-content>

  <ion-row padding>

    <h1 class="animated fadeInLeft">
      {{ 'chooseYourUniversity' | translate }}
    </h1>

  </ion-row>
  <ion-card (click)="navigateToAhu()" class="welcome-card animated fadeInLeft ion-activatable ripple-parent">
    <ion-img style="height:130px;" src="/assets/images/ahu.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;"></ion-card-subtitle>
      <ion-card-title style="text-align: center;">{{ 'ahuUniversity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>
  <ion-card (click)="navigateToUoj()" class="welcome-card animated fadeInLeft ion-activatable ripple-parent">
    <ion-img style="height:130px;" src="/assets/images/uoj-card.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;"></ion-card-subtitle>
      <ion-card-title style="text-align: center;">{{ 'uojUniversity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>
  <ion-card (click)="navigateToHu()" class="welcome-card animated fadeInLeft ion-activatable ripple-parent">
    <ion-img style="height:130px;" src="/assets/images/hu-card.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;"></ion-card-subtitle>
      <ion-card-title style="text-align: center;">{{ 'huUniversity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>
  <ion-card (click)="navigateToJust()" class="welcome-card animated fadeInLeft ion-activatable ripple-parent">
    <ion-img style="height:130px;" src="/assets/images/just-card.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;"></ion-card-subtitle>
      <ion-card-title style="text-align: center;">{{ 'justUniversity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>
  <ion-card (click)="navigateToPsut()" class="welcome-card animated fadeInLeft ion-activatable ripple-parent">
    <ion-img style="height:130px;" src="assets/images/psut-card.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;"></ion-card-subtitle>
      <ion-card-title style="text-align: center;">{{ 'psutUniversity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>
  <ion-card (click)="navigateToYu()" class="welcome-card animated fadeInLeft ion-activatable ripple-parent">
    <ion-img style="height:130px;" src="/assets/images/yu-card.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;"></ion-card-subtitle>
      <ion-card-title style="text-align: center;">{{ 'yuUniversity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>
  <ion-card (click)="navigateToAabu()" class="welcome-card animated fadeInLeft ion-activatable ripple-parent">
    <ion-img style="height:130px;" src="assets/images/aabu-card.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;"></ion-card-subtitle>
      <ion-card-title style="text-align: center;">{{ 'aabuUniversity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>
  <ion-card (click)="navigateToBau()" class="welcome-card animated fadeInLeft ion-activatable ripple-parent">
    <ion-img style="height:130px;" src="assets/images/bau-card.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;"></ion-card-subtitle>
      <ion-card-title style="text-align: center;">{{ 'bauUniversity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>
  <ion-card (click)="navigateToMutah()" class="welcome-card animated fadeInLeft ion-activatable ripple-parent">
    <ion-img style="height:130px;" src="assets/images/mutah-card.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;"></ion-card-subtitle>
      <ion-card-title style="text-align: center;">{{ 'mutahUniversity' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-card>

</ion-content>